{% extends "base.html.twig" %}

{% block title %}AppBundle:Dishes:index{% endblock %}


{% block body %}
    <h1>Список блюд заведения</h1>
    {% for dish in dishes %}
        <div style="border: 1px solid; padding: 40px; margin: 5px; float: left">
            <p>{{ dish.name }}</p>
            <a><img height="150" width="150" src="{{ vich_uploader_asset(dish, 'imageFile') }}" /></a>
            <p> Цена - {{ dish.price }} сом</p>
        </div>

    {% else %}
        <p>Ни одного блюда</p>
    {% endfor %}
    <a href="{{ path('app_dishes_index') }}">Вернуться</a>
{% endblock %}
