{% extends "base.html.twig" %}

{% block title %}AppBundle:Dishes:index{% endblock %}


{% block body %}
    <p><a href="{{ path('app_dishes_newrestaurant') }}">Добавить ресторан</a></p>
    {% for restaurantAndDishes in popularDishesPlaces %}

        <div class="col-md-12" style="border: 1px solid; padding: 40px;">
            Заведение <p style="font-size: 30px"><a href="{{ path('app_dishes_disheslis',{'id' : restaurantAndDishes.restaurant.id }) }}">{{ restaurantAndDishes.restaurant.name }}</a></p>
            <p>{{ restaurantAndDishes.restaurant.description }}</p>
            <a><img class="col-md-6" style="float: left; margin:0 10px 10px 0" height="300"  src="{{ vich_uploader_asset(restaurantAndDishes.restaurant, 'imageFile') }}" /></a>

            <div style="border: 1px slateblue solid; display: inline-block; padding: 10px; border-radius: 10px">
                <h2>Лучшие блюда заведения</h2>
                {% for dish in restaurantAndDishes.dishes  %}
                    <a><img style="border-radius: 5px" height="200" width="200" src="{{ vich_uploader_asset(dish.dish, 'imageFile') }}" /></a>
                        <p>{{ dish.dish.name }} - ${{ dish.dish.price }}</p>
                        <p>Кол-во продаж за последний год - {{ dish.amount }}</p>
                            <hr>
                {% else %}
                    <p>Пока ничем не прославилось</p>
                {% endfor %}

            </div>

            <p><a href="{{ path('app_dishes_newdish',{'id' : restaurantAndDishes.restaurant.id }) }}">Добвить блюдо</a></p>


        </div>



    {% else %}
        <p>Ни одного заведения</p>
    {% endfor %}
    <div style="clear: both"></div>

{% endblock %}
